body {
    padding: 20px;
}

header {
    background: linear-gradient(0.25turn, #3f87a6, #3213bd, #1b1941);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#search-history {
    border-top: 3px solid black;
}

.main {
    padding: 30px;
}

#search-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forecast-box {
    background-color: rgb(18, 6, 61);
    color: white;
    padding: 10px;
    margin: 20px;
}

#five-day {
    padding-left: 340px;
}

/* #left-column {
    margin-bottom: 10000px;
} */

.low {
    background-color:green;
}
